
<div class="todo-app" [ngClass]="theme">
  <div class="header">
    <h1>TODO</h1>

    <button class="theme-switch" (click)="toggleTheme()">
    @if(theme === 'dark') {
        <span>🌙</span>
    } @else {
        <span>☀️</span>
    }
    </button>

  </div>
  <div class="todo-card">
    <input class="todo-input" [(ngModel)]="todoTitle" name="todoTitle" placeholder="Create a new todo..." (keyup.enter)="addTodo()" />
    <ul class="todo-list">
        @for (todo of filteredTodos; track todo.id) {
            <li [ngClass]="{completed: todo.completed}">
              <label class="checkbox-container">
                <input type="checkbox" [checked]="todo.completed" (change)="toggleTodo(todo)" />
              </label>
              <span class="todo-text">{{ todo.title }}</span>
              <button class="remove-btn" (click)="deleteTodo(todo.id)">×</button>
            </li>
        }
    </ul>
    <div class="todo-footer">
      <span>{{ itemsLeft }} items left</span>
      <div class="filters">
        <button [ngClass]="{active: filter === 'all'}" (click)="filter='all'">All</button>
        <button [ngClass]="{active: filter === 'active'}" (click)="filter='active'">Active</button>
        <button [ngClass]="{active: filter === 'completed'}" (click)="filter='completed'">Completed</button>
        <button class="clear-btn" (click)="clearCompleted()">Clear Completed</button>
      </div>
    </div>
  </div>
</div>
